In [1]:
import os
import pandas as pd
import numpy as np
import json
import dateutil

In [2]:
rootdir_google_activity= r"C:\Users\Pol\Documents\Ironhack\Projects\Project-Week-5-Your-Own-Project\your-project\data\Google\My Activity"

In [3]:
my_activity_df = pd.DataFrame()
for path,dirs,files in os.walk(rootdir_google_activity):
    for name in files:
        data_extracted = pd.read_json(path + r'\\' + name)
        my_activity_df = pd.concat([my_activity_df, data_extracted], ignore_index=True)

In [4]:
my_activity_df = my_activity_df.sort_values('time').reset_index(drop=True)

my_activity_df

,header,title,titleUrl,time,products,details,subtitles,description,locationInfos
0,Search,Searched for grand miltral,https://www.google.com/search?q=grand+miltral,2007-10-30T15:02:30.183Z,[Search],NaN,NaN,NaN,NaN
1,Search,Searched for grand mistral,https://www.google.com/search?q=grand+mistral,2007-10-30T15:02:35.256Z,[Search],NaN,NaN,NaN,NaN
2,Search,Visited http://www.crucerosnet.com/comp_41/cru...,https://www.google.com/url?q=http://www.crucer...,2007-10-30T15:02:42.917Z,[Search],NaN,NaN,NaN,NaN
3,Search,Visited http://www.viajeshvtour.com/Cruceros/I...,https://www.google.com/url?q=http://www.viajes...,2007-10-30T15:04:03.710Z,[Search],NaN,NaN,NaN,NaN
4,Ads,Visited http://www.logitravel.com/logitravel/h...,https://www.google.com/url?q=http://www.logitr...,2007-10-30T15:08:11.615Z,[Ads],[{'name': 'From Google Ads'}],NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
161533,Search,Searched for xml to pandas python,https://www.google.com/search?q=xml+to+pandas+...,2020-07-22T17:59:41.858Z,[Search],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."
161534,Search,Visited From XML to Pandas dataframes. How to ...,https://www.google.com/url?q=https://medium.co...,2020-07-22T17:59:44.226Z,[Search],NaN,NaN,NaN,NaN
161535,Search,Searched for xml to mysql database,https://www.google.com/search?q=xml+to+mysql+d...,2020-07-22T18:00:21.282Z,[Search],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."
161536,Search,Visited MySQL 8.0 Reference Manual :: 13.2.8 L...,https://www.google.com/url?q=https://dev.mysql...,2020-07-22T18:00:32.067Z,[Search],NaN,NaN,NaN,NaN
161537,Takeout,Initiated a Takeout,NaN,2020-07-22T18:16:07.931Z,[Takeout],[{'name': 'From IP 81.184.179.51'}],[{'name': 'Requested the following services: L...,NaN,NaN

In [5]:
my_activity_df.time.value_counts()

2019-07-29T19:44:32.925Z    25
2020-05-09T13:20:45.151Z     5
2019-12-03T14:20:19.769Z     3
2019-11-12T16:46:49.802Z     3
2019-06-19T17:01:00.340Z     3
                            ..
2018-03-09T20:41:47.283Z     1
2014-08-07T21:44:43.791Z     1
2013-05-28T04:54:30.118Z     1
2014-09-05T11:31:45.027Z     1
2019-11-02T16:25:28.151Z     1
Name: time, Length: 160598, dtype: int64

In [6]:
my_activity_df[my_activity_df['locationInfos'].notnull()]

,header,title,titleUrl,time,products,details,subtitles,description,locationInfos
31483,Maps,Searched for la sirena,https://www.google.com/maps/search/la+sirena/@...,2015-09-22T18:48:29.787Z,[Maps],NaN,NaN,NaN,"[{'name': 'At this place', 'url': 'https://www..."
31506,Maps,"Searched for Grifols S.A., Parque empresarial ...",https://www.google.com/maps/place/Grifols+S.A....,2015-09-23T12:09:40.998Z,[Maps],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."
31507,Maps,"Directions to Grifols S.A., Parque empresarial...","https://www.google.com/maps/dir//Grifols+S.A.,...",2015-09-23T12:09:41.984Z,[Maps],NaN,NaN,"Current location\nGrifols S.A., Parque empresa...","[{'name': 'Around this area', 'url': 'https://..."
31508,Maps,"Directions to Grifols S.A., Parque empresarial...","https://www.google.com/maps/dir/Applus%2B,+Esp...",2015-09-23T12:09:53.792Z,[Maps],NaN,NaN,"Applus+, EspaÃ±a\nGrifols S.A., Parque empresar...","[{'name': 'Around this area', 'url': 'https://..."
31510,Maps,Searched for blue finn santalo,https://www.google.com/maps/search/blue+finn+s...,2015-09-23T18:30:12.403Z,[Maps],NaN,NaN,NaN,"[{'name': 'At this place', 'url': 'https://www..."
...,...,...,...,...,...,...,...,...,...
161509,Maps,"Directions to Fleca Fortino, Travessera de GrÃ ...","https://www.google.es/maps/dir//Fleca+Fortino,...",2020-07-22T16:37:29.053Z,[Maps],NaN,NaN,"Current location\nFleca Fortino, Travessera de...","[{'name': 'Around this area', 'url': 'https://..."
161526,Search,Searched for xml to csv,https://www.google.com/search?q=xml+to+csv,2020-07-22T17:58:08.704Z,[Search],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."
161529,Search,Searched for xml python,https://www.google.com/search?q=xml+python,2020-07-22T17:58:19.101Z,[Search],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."
161533,Search,Searched for xml to pandas python,https://www.google.com/search?q=xml+to+pandas+...,2020-07-22T17:59:41.858Z,[Search],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."
161535,Search,Searched for xml to mysql database,https://www.google.com/search?q=xml+to+mysql+d...,2020-07-22T18:00:21.282Z,[Search],NaN,NaN,NaN,"[{'name': 'Around this area', 'url': 'https://..."

In [7]:
my_activity_df.loc[:,'products'] = pd.Series([i[0] for i in my_activity_df['products']])

In [8]:
my_activity_df['time']

0         2007-10-30T15:02:30.183Z
1         2007-10-30T15:02:35.256Z
2         2007-10-30T15:02:42.917Z
3         2007-10-30T15:04:03.710Z
4         2007-10-30T15:08:11.615Z
                    ...
161533    2020-07-22T17:59:41.858Z
161534    2020-07-22T17:59:44.226Z
161535    2020-07-22T18:00:21.282Z
161536    2020-07-22T18:00:32.067Z
161537    2020-07-22T18:16:07.931Z
Name: time, Length: 161538, dtype: object

In [9]:
my_activity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161538 entries, 0 to 161537
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   header         161534 non-null  object
 1   title          161538 non-null  object
 2   titleUrl       153293 non-null  object
 3   time           161538 non-null  object
 4   products       161538 non-null  object
 5   details        4909 non-null    object
 6   subtitles      17961 non-null   object
 7   description    3507 non-null    object
 8   locationInfos  25246 non-null   object
dtypes: object(9)
memory usage: 11.1+ MB

In [10]:
my_activity_df['time'] = my_activity_df['time'].apply(dateutil.parser.parse).apply(lambda x: x.astimezone(dateutil.tz.gettz()))

In [11]:
my_activity_df['time'][0]

Timestamp('2007-10-30 16:02:30.183000+0100', tz='tzlocal()')

In [12]:
my_activity_df.to_csv('../data/my_activity_clean.csv', sep=';', decimal=',')