In [9]:
import pandas as pd
from datetime import datetime as dt

In [4]:
# read LinkedIn data

linkedin = pd.read_csv('../data/linkedin_job_applications.csv')
linkedin

,Application Date,Job Url,Job Title,Company Name,Contact Email,Contact Phone Number,Resume Name
0,"5/6/20, 10:44 AM",http://www.linkedin.com/jobs/view/1747536324,Data Analyst (SQL),Innova-tsn,lorentepol@gmail.com,+34638453534,PolLorente_2020.pdf
1,"5/4/20, 11:35 AM",http://www.linkedin.com/jobs/view/1831789921,Business analyst,SQLI,lorentepol@gmail.com,+34638453534,PolLorente_2020.pdf
2,"5/4/20, 11:21 AM",http://www.linkedin.com/jobs/view/1826234759,Junior Controller,Claire Joster,lorentepol@gmail.com,+34638453534,PolLorente_2020.pdf
3,"5/2/20, 9:16 AM",http://www.linkedin.com/jobs/view/1838883689,Business Strategy Analyst,Scopely,lorentepol@gmail.com,+34638453534,PolLorente_2020.pdf
4,"4/29/20, 4:57 AM",http://www.linkedin.com/jobs/view/1822849090,Junior Data Analyst,Citibeats,lorentepol@gmail.com,+34638453534,PolLorente_2020.pdf
...,...,...,...,...,...,...,...
159,"10/9/17, 1:09 PM",http://www.linkedin.com/jobs/view/461267989,Business Controller,MANGO,lorentepol@gmail.com,638453534,CV_PolLorente.pdf
160,"10/6/17, 9:53 AM",http://www.linkedin.com/jobs/view/414946887,Portfolio and Financial Controller,Nauta Capital,lorentepol@gmail.com,638453534,CV_PolLorente.pdf
161,"10/6/17, 9:52 AM",http://www.linkedin.com/jobs/view/414946563,Junior Financial Analyst,Cushman & Wakefield,lorentepol@gmail.com,638453534,CV_PolLorente.pdf
162,"10/6/17, 9:51 AM",http://www.linkedin.com/jobs/view/462225407,Junior Financial Controller,Catalonia Hotels & Resorts,lorentepol@gmail.com,638453534,CV_PolLorente.pdf
163,"10/6/17, 9:50 AM",http://www.linkedin.com/jobs/view/423671101,financial controller,Vueling Airlines,lorentepol@gmail.com,638453534,CV_PolLorente.pdf

In [6]:
linkedin['Application Date'][0]

'5/6/20, 10:44 AM'

In [18]:
dt.strptime('5/6/20, 12:44 AM', '%m/%d/%y, %I:%M %p')

datetime.datetime(2020, 5, 6, 0, 44)

In [23]:
linkedin['date'] = linkedin['Application Date'].apply(lambda x: dt.strptime(x,'%m/%d/%y, %I:%M %p')).apply(lambda y: dt.strftime(y, '%d/%m/%Y'))

In [27]:
linkedin_apps_by_day = linkedin.groupby('date')['Job Url'].count().reset_index()

In [28]:
linkedin_apps_by_day.to_csv('../data/linkedIn_by_day.csv', sep=';', decimal=',')