In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import re

In [2]:
# get the data from my activity

my_activity = pd.read_csv('../data/my_activity_clean.csv', sep=';', decimal=',', index_col=0)

In [3]:
my_activity.head()

,header,title,titleUrl,time,products,details,subtitles,description,locationInfos
0,Search,Searched for grand miltral,https://www.google.com/search?q=grand+miltral,2007-10-30 16:02:30.183000+01:00,Search,NaN,NaN,NaN,NaN
1,Search,Searched for grand mistral,https://www.google.com/search?q=grand+mistral,2007-10-30 16:02:35.256000+01:00,Search,NaN,NaN,NaN,NaN
2,Search,Visited http://www.crucerosnet.com/comp_41/cru...,https://www.google.com/url?q=http://www.crucer...,2007-10-30 16:02:42.917000+01:00,Search,NaN,NaN,NaN,NaN
3,Search,Visited http://www.viajeshvtour.com/Cruceros/I...,https://www.google.com/url?q=http://www.viajes...,2007-10-30 16:04:03.710000+01:00,Search,NaN,NaN,NaN,NaN
4,Ads,Visited http://www.logitravel.com/logitravel/h...,https://www.google.com/url?q=http://www.logitr...,2007-10-30 16:08:11.615000+01:00,Ads,[{'name': 'From Google Ads'}],NaN,NaN,NaN

In [4]:
# Get only data from youtube

youtube = my_activity[my_activity['products'] == 'YouTube'].reset_index(drop=True)
youtube.head()

,header,title,titleUrl,time,products,details,subtitles,description,locationInfos
0,YouTube,Searched for trailers 2014 movies official,https://www.youtube.com/results?search_query=t...,2014-08-13 09:04:48.899000+02:00,YouTube,NaN,NaN,NaN,NaN
1,YouTube,Searched for the avengers 2,https://www.youtube.com/results?search_query=t...,2014-08-13 09:07:25.758000+02:00,YouTube,NaN,NaN,NaN,NaN
2,YouTube,Searched for how to train your dragon 2,https://www.youtube.com/results?search_query=h...,2014-08-13 13:39:43.783000+02:00,YouTube,NaN,NaN,NaN,NaN
3,YouTube,Searched for tricicle sit,https://www.youtube.com/results?search_query=t...,2014-08-14 08:34:37.200000+02:00,YouTube,NaN,NaN,NaN,NaN
4,YouTube,Searched for tricicle bits,https://www.youtube.com/results?search_query=t...,2014-08-14 08:57:49.271000+02:00,YouTube,NaN,NaN,NaN,NaN

In [5]:
youtube.columns

Index(['header', 'title', 'titleUrl', 'time', 'products', 'details',
       'subtitles', 'description', 'locationInfos'],
      dtype='object')

In [6]:
youtube = youtube[['title', 'titleUrl', 'time']]

In [7]:
def matching(x):
    if re.match(r'(^Searched|^Watched)(?:\sfor)?\s(.*)',x):
        return False
    else:
        return True

In [8]:
youtube = youtube.drop(youtube[youtube['title'].apply(matching)].index[0]).reset_index(drop=True)

In [9]:
def get_searches_watches(string,numgroup):
    result = re.search(r'(^Searched|^Watched)(?:\sfor)?\s(.*)',string)
    return result.group(numgroup)
    

get_searches_watches('Searched for trailers 2014 movies official',1)

'Searched'

In [10]:
youtube['type'] = youtube['title'].apply(lambda x: get_searches_watches(x,1))
youtube['content'] = youtube['title'].apply(lambda x: get_searches_watches(x,2))

In [11]:
youtube = youtube.drop('title', axis = 1)

In [12]:
youtube

,titleUrl,time,type,content
0,https://www.youtube.com/results?search_query=t...,2014-08-13 09:04:48.899000+02:00,Searched,trailers 2014 movies official
1,https://www.youtube.com/results?search_query=t...,2014-08-13 09:07:25.758000+02:00,Searched,the avengers 2
2,https://www.youtube.com/results?search_query=h...,2014-08-13 13:39:43.783000+02:00,Searched,how to train your dragon 2
3,https://www.youtube.com/results?search_query=t...,2014-08-14 08:34:37.200000+02:00,Searched,tricicle sit
4,https://www.youtube.com/results?search_query=t...,2014-08-14 08:57:49.271000+02:00,Searched,tricicle bits
...,...,...,...,...
27763,https://www.youtube.com/watch?v=msNAEaCTleQ,2020-07-22 17:13:41.826000+02:00,Watched,Creating Search Over Time Video Graphs - Data ...
27764,https://www.youtube.com/results?search_query=a...,2020-07-22 17:14:32.087000+02:00,Searched,analysis of google takeout data
27765,https://www.youtube.com/watch?v=urkSnVZkJ7k,2020-07-22 17:14:39.961000+02:00,Watched,How to use Google Takeout || Download your Go...
27766,https://www.youtube.com/watch?v=iRD8s9cyp44,2020-07-22 17:33:06.737000+02:00,Watched,Download or Export your Google Data - How to u...
27767,https://www.youtube.com/results?search_query=t...,2020-07-22 17:33:56.643000+02:00,Searched,takeout data analysis

In [13]:
youtube.to_csv('../data/youtube.csv', sep=';', decimal=',')

In [14]:
# create the count of days of searches and watches by day

youtube_by_day = youtube

In [15]:
youtube_by_day['date'] = youtube_by_day['time'].apply(lambda x: re.findall(r'\d{4}-\d{2}-\d{2}',x)[0])

In [16]:
youtube_by_day = youtube_by_day.groupby(['date', 'type'])['type'].count()

In [17]:
youtube_by_day.name = 'count'
youtube_by_day = youtube_by_day.reset_index()

In [18]:
youtube_by_day = youtube_by_day.pivot(index = 'date', columns = 'type', values = 'count').reset_index()

In [20]:
youtube_by_day

type        date  Searched  Watched
0     2014-08-13       3.0      NaN
1     2014-08-14       2.0      NaN
2     2014-08-31       2.0      NaN
3     2014-09-01       1.0      NaN
4     2014-09-02       1.0      NaN
...          ...       ...      ...
1474  2020-07-17       NaN      2.0
1475  2020-07-18       1.0      4.0
1476  2020-07-20       1.0      4.0
1477  2020-07-21      17.0     24.0
1478  2020-07-22      19.0     22.0

[1479 rows x 3 columns]

In [19]:
youtube_by_day.to_csv('../data/youtube_by_day.csv', sep=';', decimal=',')